<% include ../partials/header %>

<div class='container'>
	<div class='row'>
		<div class='col-md-3'>
			<div id='map'></div>		
		</div>
		<div class = 'col-md-9'>
			<!-- <div class='thumbnail'> -->
				<img class='img-fluid' src="<%= campground.image %>">
				<div class='caption-full'>
					<div class='price float-right'>$9.00/night</div>
					<h4><a><%= campground.name %></a> </h4>
					<p> <%= campground.description %> </p>
					<p>
						<em>Submitted By <%= campground.author.username %> </em>
					</p>
					<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
						<a class='btn btn-warning' href='/campgrounds/<%= campground._id %>/edit'>Edit</a>
						<form class='delete-form' action='/campgrounds/<%= campground._id %>?_method=DELETE' method='POST'>
							<button class='btn btn-danger'> Delete </button>
						</form>
						<a class='btn btn-basic float-right' href='/campgrounds/<%= campground._id %>/comments/new'>Add New Comment</a>
					<% }%>
				</div>
			<!-- </div> -->
			<div class='well'>

				<hr>
				<% campground.comments.forEach((comment)=>{ %>
					<div class='row'>
						<div class='col-md-12'>
							<strong> <%= comment.author.username %> </strong>
							<span class='pull-right'> 10 days ago </span>
							<p>
								<%= comment.text %>
							</p>
							<% if (currentUser && comment.author.id.equals(currentUser._id)) {%>
							<a class='btn btn-xs btn-warning' 
							   href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
								Edit
							</a>
							<form class='delete-form' 
								  action='/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE' 
								  method='POST'>
								  <button class='btn btn-xs btn-danger'> Delete </button>
							</form>	
							<% } %>
						</div>
					</div>

				<% }) %>
			</div>
		</div>
	</div>
</div>

<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiYW5hc3QtYmQiLCJhIjoiY2s5cGx0dGg4MGJ2NzNkcWhoNWdrMmVpZSJ9.4SrqzF_fctN0WJVDDrFjXQ';
	
	var lat = <%= campground.lat %>;
	var lng = <%= campground.lng %>;
	var center = {lat: lat, lng: lng};
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mapbox/streets-v11',
		center: [lng, lat],
		zoom: 8
	});
	
	var popup = new mapboxgl.Popup()
    .setHTML('<h3><%= campground.name %></h3>');
    
    var marker = new mapboxgl.Marker()
    .setLngLat([lng, lat])
    .setPopup(popup)
    .addTo(map);
</script>

<% include ../partials/footer %>